* {
    margin: 0;
    padding: 0;
}

.nav-link {
	text-decoration: none;
	color: black;
}
/* botões */
#button-header{
	color: pink;
	background-color:  white;
	border-radius: 10%;
	width: 100px;
	height: 50px;
	box-shadow: 2px 2px 5px darkorchid;
	font-size: 18px;
}

#button-alterar {
	color: pink;
	background-color:#FFDEAD;
	border-radius: 10%;
	width: 100px;
	height: 50px;
	box-shadow: 2px 2px 5px darkorchid;
	font-size: 18px;
}

#button-excluir {
	background-color:  rgb(255, 128, 128);
	color: white;
	border-radius: 10%;
	width: 100px;
	height: 50px;
	box-shadow: 2px 2px 5px darkorchid;
	font-size: 18px;
	
}

button:hover {
	cursor: pointer;
	transform: scale(0.9);
	color: var(--light-text-color);
	
}
/* header */
header {
    background-color: #f5e1a4;
    box-shadow: 0px 8px 10px #000000c7;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0px -8px 10px #000000c7;
}
/* tabela */
table {
    width: 100%;
}

th {
    height: 65px;
    width: 40px;
    padding-left: 1vw;
}

#cabeçalho-tabela{
	background-color: white;
}

table#alter tr td { /* Toda a tabela com fundo creme */
	background: #ffc;
	} 
table#alter tr.dif td {
	background: #eee; /* Linhas com fundo cinza */
	}

.titulos{
	background-color: #d9d593;
	padding: 20px;
}

td {
	font-size: 16pt;
	padding-left: 1vw;
}

body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url("../img/cafe-animado.gif");
	background-repeat: no-repeat;
	background-size: cover;
}


#rodape{
	width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    font-size: 12pt;
    box-shadow: 0px -8px 10px #000000c7;
	background-color: #d9d593;
}

.fixarRodape {
        bottom: 0;
        position: fixed;
        width: 90%;
        text-align: center;
    }

p{
     padding-left: 1vw;
     color: black;
   }